<div class="container">
    <h1>View</h1>
    <a href="#" routerLink="/booked-flights/index/" class="btn btn-success">Back</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Passenger Id</th>
                <th>FirstName</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr  >
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Flight Id</th>
                <th>Airline</th>
                <th>Departure Date</th>
                <th>Departure Time</th>
                <th>Arrival Date</th>
                <th>Arrival Time</th>
                <th>Boarding Time</th>
                <th>Gate Number</th>
                <th>Destination</th>
                <th>Max Number Of Seats</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>  
            </tr>
        </tbody>
    </table>
</div>
